*{
    box-sizing: border-box;
}

@font-face {
    font-family: "teletexto";
    src: url("./assets/font.TTF");
}
  
html {
      scroll-behavior: smooth;
}

body {
    font-family: "teletexto";
    font-size: 22px;
    background-color: black;
}


header{
    width: 80%;
    text-align: center;
    margin: 60px auto;
    
}

main{
    width:80%;
    margin:20px auto;
   
    flex-wrap: wrap;
    justify-content: center;
}

h2{
    color: #ff00ff;
    text-align: center;
}

h3{
    text-align: center;
    color: #00ffff;
}

h5{
    color: yellow;
}

legend{
    text-align: center;
    color: #00ffff; 
}

label{
    color: white;
}

input{
    margin: 5px auto ;
}

article{
    color: white;
}


button{
    color: rgb(2, 237, 2);
    padding: 0.45em;
    margin :0.45em;
    border-radius: 0.25em;
    font-size: large;
    font-family: 'Pixelify Sans';
    background-color: black;
    cursor: pointer;
}

button:active{
    background-color: greenyellow;;
}

article{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

fieldset.question{
    padding: 0.9em;
    margin: 3em auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: dashed 2px magenta;
    width: 80vw;
    height: 50vh;
}

div.form{
    flex: 50%;
    max-width: 40%;
    margin: 5px;
    display: grid;
    justify-content: baseline;
        & input:checked + label{
            color: yellow;
        }
        & input{
            visibility: hidden;
        }    
        & input:hover + label{
            background-color: green ;
            cursor: pointer;
        }
}

.form > label{
    text-align: center;
}

#inicio{
    display:grid;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: auto;
}

#quiz{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#msgerr{
    color: red;
}

#botones{
    text-align: center;
}

#logout-container{
    position:fixed;
    bottom:0.45em;
    right: 0.45em;
    padding: 0.45em;
    border-radius: 0.23em;
}

#form1, #form2{
    text-align: center;
    padding: 20px 50px;
    
}

#form1 > fieldset, #form2 > fieldset{
    border: dashed 2px rgb(9, 232, 9);
    padding: 50px 70px;
}

#signup-picture{
    background-color: white;
}

#user-data{
    border: dashed 1px yellowgreen;
    border-radius: 2px ;
    max-height: 20%;
    font-size: medium;
    width:50%;
    margin: auto;
}
#user-data > img{
    width: 25%;
    margin-bottom: 20px;
    border-radius: 80px;
}


#username{
    color:orange;
}


#log, #create, #finish{
    color: yellow;
    background-color: black;
    border: none;
    padding: 10px;
    font-size: large;
    font-family: 'Pixelify Sans';
    cursor: pointer;
}

#log:active, #create:active, #finish:active{
    background-color: red;
}

#chart, #chart >svg {
    width: 80%;
    height: 300px;
}

#chart .ct-grid{
    stroke: rgb(255 255 255 / 94%);
    stroke-dasharray: none;
}

#chart .ct-labels span{
    color: white;
}

#chart .ct-series-a .ct-bar{
    stroke: yellow;
    stroke-width: 50px;
}



.loader {
    font-size: 10px;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    display: block;
    animation: mulShdSpin 1.1s infinite ease;
    transform: translateZ(0);
    visibility: hidden; 
    margin: 20px auto;
    
  }
  @keyframes mulShdSpin {
    0%,
    100% {
      box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.5), -1.8em -1.8em 0 0em rgba(255,255,255, 0.7);
    }
    12.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.5);
    }
    25% {
      box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.5), 1.8em -1.8em 0 0em rgba(255,255,255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
    }
    37.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.5), 2.5em 0em 0 0em rgba(255,255,255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
    }
    50% {
      box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.5), 1.75em 1.75em 0 0em rgba(255,255,255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255,255,255, 0.2), -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
    }
    62.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.5), 0em 2.5em 0 0em rgba(255,255,255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255,255,255, 0.2), -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
    }
    75% {
      box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.5), -1.8em 1.8em 0 0em rgba(255,255,255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255,255,255, 0.2);
    }
    87.5% {
      box-shadow: 0em -2.6em 0em 0em rgba(255,255,255, 0.2), 1.8em -1.8em 0 0em rgba(255,255,255, 0.2), 2.5em 0em 0 0em rgba(255,255,255, 0.2), 1.75em 1.75em 0 0em rgba(255,255,255, 0.2), 0em 2.5em 0 0em rgba(255,255,255, 0.2), -1.8em 1.8em 0 0em rgba(255,255,255, 0.5), -2.6em 0em 0 0em rgba(255,255,255, 0.7), -1.8em -1.8em 0 0em #ffffff;
    }
  }

#log-loader{
    margin-top: 25px;
}



@media only screen and (max-width: 965px) {
    /*index*/

    header{
        width: 90%;
    }
    main{
        width: 100%;
    }
    fieldset{
        width: 90%;
        margin:auto;
    }
    form{
        margin: auto;
    }
    article{
        width: 90%;
        margin: auto;
    }
    fieldset.question{
        flex: 100%;
        max-width: 100%;
        height: max-content;
    }
    div.ct-chart{
        width: 80%;
        margin: auto;
    }
    #user-data{
        width: 70%;
    }
    
}

@media only screen and (max-width: 550px){
    
 
    div.form{
        flex: 100%;
        max-width: 100%;
        text-align: center;
        border: red dashed 1px;
        display: block;
    }
    svg.ct-chart-bar{
        width: 60%;
        margin: auto;
    }
    #form1 > fieldset, #form2 > fieldset{
        padding: 10px 20px;
    }
    article{
        margin: auto;
        max-width: 90%;
    }
    #user-data{
        width: 100%;
    }
    #chart, #chart >svg {
        width: 90%;
        height: 300px;
    }
}